#navbar {
  height: 60px;
  position: static;
  padding: 5px 60px 5px 60px;
  width: auto;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  background-color: white;
}

.nav-logo {
  height: 90%;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-image {
  height: 100%;
  width: 40%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/de/Wikipedia_Logo_1.0.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.text1 {
  height: 80%;
  width: 90%;
  background-image: url(https://en.wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-en.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.text2 {
  padding-top: 20px;
  height: 100%;
  width: 80%;
  background-image: url(https://en.wikipedia.org/static/images/mobile/copyright/wikipedia-tagline-en.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.nav-link {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item1 {
  height: 25px;
  text-decoration: none;
  color: rgb(65, 65, 250);
}

.item1:hover {
  color: blue;
  text-decoration: underline;
}

.Search {
  width: 850px;
  display: flex;
  align-items: center;
}

#name {
  height: 30px;
  width: 300px;
}

.search {
  height: 30px;
  width: 50px;
}
